.clear{
  clear: both;
}

.app{
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin: 0 auto;
  min-width: 400px;
  height: 100%;
  /* opacity: 0.5; */
}

.title{
  margin-top: 30px;
  text-align: center;
  font-size: 70px;
  color: red;
}

#add_btn{
  width: 100px;
  float: right;
}

.to_do_list{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 40vw;
  min-width: 400px;
  height: auto;
}

#add_work{
  position: absolute;
  width: 22vw;
  min-width: 220px;
  height: 50px;
  top: 172px;
  left: 48vw;
  z-index: 100;
  display: none;
}